html {
  overflow:hidden
}

code {
  letter-spacing:-2px;
}

a, a:visited {
  color:blue
}

#preso a, #preso a:visited {
  color:#000;
}
#preso a:hover {
  color:#f00;
}
#preso h1 a, #preso h2 a, #preso h3 a {
  letter-spacing:-1px;
}

/* generic slide styles */

.big {
  font-size:120%
}
.bigger {
  font-size:150%
}
.huge {
  font-size:200%
}

/* specific slide styles */

.ascii-intro pre {
  font-size:30px;
  font-weight:bold;
  position:relative;
  top:-40px;
  left:-45px;
}

.shortcut-image img {
  position:relative;
  top:10px;
}

.slide-about h1 a {
  text-decoration:none
}

.terminal pre {
  position:absolute;
  top:20px;
  left:10px;
  width:980px;
  height:700px;
  background:#000;
  color:#fff;
  padding:10px;
  margin:0;
  font-size:38px;
  text-align:left;
  overflow:hidden;
}
.terminal pre code {
  letter-spacing:-4px;
}
.terminal code.command {
  color:#fff;
}
.terminal code.result {
  color:#999;
}
.terminal pre, .terminal pre code {
  font-family:consolas;
}

.vim pre {
  border-left:40px solid #666;
  line-height:1.3;
}

/* cheat sheet */

.cheat {
  font-family:'consolas','dejavu sans mono','bitstream vera sans mono',monospace;
  font-size:22px;
  margin:1em 2em;
  line-height:1.3;
  max-width:1024px;
  margin:0 auto;
}
.cheat h1 {
  text-align:center
}
.cheat h2 {
  font-size:24px;
  margin:10px 0;
}
.cheat ul {
  margin:10px 0;
  padding-left:0;
  width:200px;
  float:left;
}
.cheat li {
  list-style-type:none;
  margin-left:0;
}
.cheat .misc {
  display:none;
}
