<div class="shh">
  <h1>The Shell Hater's Handbook</h1>

  <p>
    An introductory talk on UNIX shell programming by
    <a href='http://tomayko.com/'>Ryan Tomayko</a>
    presented at
    <a href='http://gogaruco.com/'>GoGaRuCo 2010</a>, a regional Ruby conference
    in San Francisco.
  </p>

  <div id='video-embed'>
    <video id="html5-player" controls="" poster="http://confreaks.net/system/videos/images/363/preview/363-gogaruco2010-the-shell-hater-s-handbook-thumb_0000.png?1302676698">
      <source src="http://confreaks.net/system/assets/datas/1175/original/363-gogaruco2010-the-shell-hater-s-handbook-small.mp4">
    </video>
  </div>

  <p>
    Video graciously provided by Confreaks, LLC.
    <a href='http://confreaks.net/videos/363'>Go there</a> for additional video options.
  </p>

  <hr>

  <p>
    You can also <a href="/deck">flip through the slide deck</a>
    or check out
    <a href="/posix">The Hater's Shortcut To The POSIX Shell And Utilities</a>,
    shell reference material mentioned in the talk.
  </p>

  <p>
    <a href="http://tomayko.com/writings/awkward-ruby">AWK-ward Ruby</a>
  </p>
</div>
