<!DOCTYPE html>
<html style='overflow:auto'>
<head>
  <title><%= @title %></title>
  <% Array(@stylesheets).each do |src| %>
  <link rel='stylesheet' type='text/css' href='<%= src %>'>
  <% end %>
</head>
<body<%= " class='#{@body_class}'" if @body_class %>>
<%= yield %>
</body>
</html>
